[submodule "_scripts"]
	path = _scripts
	url = https://github.com/Jawabiscuit/obsidian-scripts.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "_templates"]
	path = _templates
	url = https://github.com/Jawabiscuit/obsidian-templates.git
