[submodule "_scripts"]
	path = _scripts
	url = https://github.com/Jawabiscuit/obsidian-scripts.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule ".obsidian"]
	path = .obsidian
	url = https://github.com/Jawabiscuit/.obsidian
[submodule "_templates"]
	path = _templates
	url = https://github.com/Jawabiscuit/obsidian-templates
[submodule "themes/DoIt"]
	path = themes/DoIt
	url = https://github.com/HEIGE-PCloud/DoIt.git
[submodule "_modules"]
	path = _modules
	url = https://github.com/Jawabiscuit/obsidian-modules
	branch = sandbox
[submodule "_mm"]
	path = _mm
	url = https://github.com/Jawabiscuit/metadata-menu.git
	branch = sandbox
